body{
    margin:0;
}
.wrapper{
    margin:0;
    padding:0;
    background-color: white;
    min-width: 1000px;
}
.account_link{
	color: grey;
    text-decoration: none;
}
.box{
    position: relative;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
}
.round_icon{
  display:inline-block;
  height:140px;
  width: 140px;
  padding-top: 45px;
  margin-bottom: 20px;
  background-color: rgb(224, 224, 224);
}
.box_icons {
  background-color: rgb(250, 250, 250);
}
.icon{
  height:50px;
  width: 50px;
}
.cell{
  position:relative;
  width:25%;
  height:100%;
  float:left;
  text-align: center;
}
.separator{
  display: inline-block;
  width: 0px;
  height: 12px;
  border-left : 1px solid rgb(161, 161, 161);
  padding-left : 9px;
  align-self:center;
}
.main_box_background{
  background-color: rgb(148, 148, 148);
}
.box_pic{
  text-align:center;
}
.gradation_left{
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  -webkit-mask-image: linear-gradient(215deg,rgba(0,0,0,1),rgba(0,0,0,1),rgba(0,0,0,0.8),rgba(0, 0, 0, 0.1),rgba(0,0,0,0));
  mask-image: linear-gradient(215deg,rgba(0,0,0,1),rgba(0,0,0,1),rgba(0,0,0,0.8),rgba(0, 0, 0, 0.1),rgba(0,0,0,0));
  z-index: 1;
}
.gradation_right{
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  -webkit-mask-image: linear-gradient(155deg,rgba(0,0,0,1),rgba(0,0,0,1),rgba(0,0,0,0.8),rgba(0, 0, 0, 0.1),rgba(0,0,0,0));
  mask-image: linear-gradient(155deg,rgba(0,0,0,1),rgba(0,0,0,1),rgba(0,0,0,0.8),rgba(0, 0, 0, 0.1),rgba(0,0,0,0));
  z-index: 1;
}

#cell_1{
  background-color: rgb(182, 182, 182);
}
#cell_1_1{
  font-size:35px;
  font-weight: bold;
  margin-top:30px;
  margin-bottom: 30px;
}
#cell_1_2{
  font-size: 20px;
  margin-top:15px;
  margin-bottom: 30px;
}
#cell_2{
  background-color: rgb(171, 213, 230);
}
#cell_2_1{
  font-size:35px;
  font-weight: bold;
  margin-top:30px;
  margin-bottom: 15px;
}
#cell_2_2{
  margin: 0 auto;
  width: 80%;
}
#cell_2_2 > table {
  width:100%;
  text-align: left;
  font-size: 15px;
}
#cell_2_2 tr {
  border-bottom: 1px solid rgb(182, 182, 182);
}
#cell_2_2 td {
  padding:5px 0;
}
#cell_3{
  background-image:url("img/outside.jpg");
}
#box_head{
    height:120px;
    text-align: center;
}
#box_main{
    height:700px;
}
#box_icons{
    height:400px;
    background-color: aqua;
}
#box_exp1{
    background-color: white;
    height:300px;
}
#box_exp2{
    background-color: rgb(97, 97, 97);
    height:250px;
}
#box_exp2_wrapper{
  position: relative;
  width: 600px;
  height:200px;
  top:30px;
  left:50px;
  border:1px solid rgb(97, 97, 97);
}
#box_exp2_1{
  margin:10px 0;
}
#box_exp2_1 > img {
  height:46px;
}
#box_exp2_2{
  color:white;
}
#box_exp2_2 > ul{
  list-style-type: none;
  padding-top: 15px;
  padding-left:18px;
}
#box_exp2_2 > ul > li{
  display : inline;
  padding-right : 10px;
  margin : 0px;
}

#box_foot{
    background-color: rgb(70, 70, 70);
    color: rgb(119, 119, 119);
    height:50px;
    padding:15px;
    font-size:12px;
    text-align: center;
    vertical-align: middle;
}
#box_side{
    right:0;
    top:25%;
    width:100px;
    height:320px;
    background-color: grey;
    z-index: 2000;
}
#box_side_1{
    width : 33.3%;
    height: 30px;
    background-color: #3b5998;
    cursor:pointer;
}
#box_side_2{
    width : 33.3%;
    height: 30px;
    background-color: #1DA1F2;
    cursor:pointer;
}
#box_side_3{
    width : 33.3%;
    height: 30px;
    background-color: #FF0000;
    cursor:pointer;
}
#box_side_4{
    float:left;
    width:100%;
    height:105px;
    background-color: rgb(63, 63, 63);
    text-align: center;
    cursor:pointer;
}
#box_side_4_logo {
    margin-top: 25px;
    margin-bottom:12px;
}
#box_side_4 > p{
    color:white;
    font-size:12px;
}
#box_side_5{
  float:left;
  width:100%;
  height:105px;
  background-color: #F7E600;
  text-align: center;
  cursor:pointer;
}
#box_side_5_logo {
  margin-top: 25px;
  margin-bottom:12px;
}
#box_side_5 > p{
  color:#3A1D1D;
  font-size:12px;
}
#box_side_6{
  float:left;
  width:100%;
  height:105px;
  padding:10px 15px;;
  background-color: rgb(63, 63, 63);
  color:white;
  font-size:25px;
  font-weight: bold;
  line-height: 26px;
}
#box_phone{
    display: inline-block;
    position: absolute;
    height: 100%;
    left: 60px;
    padding-top:48px;
    font-size: 18px;
}
#box_logo{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
}
#box_account{
    display: inline-block;
    position: absolute;
    height: 100%;
    right: 60px;
    padding-top:48px;
    font-size: 15px;
}



/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

  
  
  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  
  /* Carousel base class */

  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    height: 32rem;
  }
  
  
  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
  .marketing .col-md-3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  /* rtl:begin:ignore */
  .marketing .col-md-3 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  /* rtl:end:ignore */
  
  
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    /* rtl:remove */
    letter-spacing: -.05rem;
  }
  
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }
  