@charset "UTF-8";


/* body {
	font-family : sans-serif;
	font-size : 0.9em;
}
 */
a {
	display : inline-block;
}

a, a:link, a:visited, a:active, a:hover {
	text-decoration:none;
	color : black;
}

div.outline{
	padding-left : 80px;
	padding-right: 80px;
}

div.wrapper1{
	width : 900px;
	margin :0 auto;
}

div.wrapper1>h3 {
	text-align : center;
}
table {
	width : 900px;
	margin : 0 auto;
	border-collapse : collapse;
	border : none;
}
table#contentstable td{
	border-bottom: 1px solid #dcdfdf;
}

td{
	/* border-bottom: 1px solid #dcdfdf; */
    padding: 5px;
	
}

pre {
	width : 600px;
	height : 200px;
	overflow : auto;
	font-size : 1em;
}
.userid{
	padding-left : 5px;
	padding-right: 20px;
	text-align : left;
	
}
.replytext{
	width : 550px;
}

input[type="text"]{
	width : 400px;
}

input#replytext{
	width : 610px;
}
input#updatereplytext {
	width : 590px;
}
input#nestedreplytext{
	width : 540px;
}
input[type="textarea"]{
	line-height : 60px;
}